@using ESO.TestRunner.Controllers
@model List<CboDto?>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <table>
        <thead>
            <tr>
                <th>CboId</th>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cbo in Model)
            {
                <tr>
                    <td>@cbo?.Id</td>
                    <td>@cbo?.Name</td>
                    <td>@cbo?.Type</td>
                </tr>
            }
        </tbody>
    </table>
</div>
